/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


 
body {
  background: #262525;
  color: #E5E5E5;
  /* font-family: 'Poppins', sans-serif; */
}


.navbar-list a:hover{
color: rgb(0, 153, 255);
}


li{
  
  display: inline;
  color: #E5E5E5;
  padding: 10px;
  font-size: 20px;
  
  
}

button:focus{
border: none;
cursor: pointer;
}

.button:hover{
  fill: #4744D9;
  color: rgb(84, 223, 233);
}

.button {
  
background: #262525;
width: 100px;
height: 30px;
font-size: 20px;
border: solid 1px #4744D9;
border-radius: 30px;
outline: none;
color: #4744D9


}

.svg{
  fill: blanchedalmond;
  
}

.svg:hover{
  fill: grey;
}

.content {

height: 93vh;
font-size: 2rem; 
display: flex;
justify-content: space-between;
align-items: center;
margin:0 3rem;

}



.nav-bar{
  display: grid;
background-color: #262525;
grid-template-columns: 15% 85%;
/* justify-content: space-between; */
justify-items: end;
align-items: center;
width: 100%;
top: 0;
left: 0;
right: 0; 

position: fixed;
}

li a {
  color: #E5E5E5;
  text-decoration: none;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
  
  
}

.about-wrapper{
  height: 93vh;
}


.about {
  font-size: 2rem;
  text-align: center;
  /* margin: 2rem 3rem; */
  /* margin-bottom: 10%; */
}

.image {

width: 321px;
height: 267px;


}
.project{
  text-align: center;
  font-size: 2rem;

}
.wrap-project {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 3rem;
  font-size: 2rem;

}

.blog{
  text-align: center;
  font-size: 2rem;
  

}

.button-div{
  margin: auto;
  max-width: 150px;

}

.wrap-blog {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 1rem;
  margin: 0 3rem;
  font-size: 2rem;
  justify-items: center;
}
.contact{
   display: flex;
   justify-content: space-around;
}

.left{
   margin-top: 40px;
}

.right form{
   /* position: relative; */
   display: flex;
   flex-direction: column;
}

.name-input{
   position: relative;
   /* height: 100%; */
   width: 300px;
   overflow: hidden;
}

.name-input input{
   height: 100%;
   width: 100%;
   padding-top: 20px;
   border: none;
   outline: none;
   grid-row: 30px;
   columns: 30px;
}

.name-input label{
  position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
   pointer-events: none;
   border-bottom: 1px solid grey;
}

.name-input label::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 3px solid #0099FF;
  transform: translateX(-400px);
  transition: transform 0.3s ease;
}

.user-name {
   position: absolute;
   bottom: 5px;
   left: 0;
   transition: all 0.3s ease;
}

.name-input input:focus + .name-label .user-name, .name-input input:valid + .name-label .user-name {
   transform: translateY(-150%);
   font-size: 14px;
   color: #0099FF;
   bottom: 25px;
}

.name-input input:focus + .name-label::after,
.name-input input:valid + .name-label::after {
   transform: translateX(0%);
}



/* input:focus, textarea:focus {
  border: none;
  border-radius: 50px;
} */

form input, textarea{
   padding: 1rem;
   background: transparent;
   /* border-radius: 20px; */
   border: none;
   border-bottom: 1px solid grey;
   margin: 1rem 0;
   color: #E5E5E5;
   padding-top: 20px;
   
   /* width: 100px; */
} 
.submit-btn{
   background: rgb(0, 153, 255);
   max-width: 60%;
   border: none;
   outline: none;
   color: #E5E5E5;
   cursor: pointer;
   border-radius: 20px;
   margin-top: 30px;
}

.blog-btn {
  background: rgb(0, 153, 255);
  /* max-width: 50%; */
  border-radius: 50px;
  border: 1px solid white;
  /* margin: auto; */
  padding: 0 1rem;
  height: 40px;
}

.contact-head{
   text-align: center;
}

.bread{
   display: none;
}

.bread div{
   width: 25px;
   height: 3px;
   background-color: #E5E5E5;
   margin: 5px;
}

.address{
  display: flex;
}
.address p{
   
   margin-top: 40px;
}

@media screen and (max-width: 600px) {
body{
  width: fit-content;
}

.nav-bar{
  display: grid;
background-color: #262525;
grid-template-columns: 15% 85%;
/* justify-content: space-between; */
justify-items: end;
align-items: center;
/* width: 100%; */
top: 0;
left: 0;
right: 0; 
margin: 0;
position: fixed;
}

.content {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   font-size: 20px;
   text-align: center;
   margin-top: 10%;
   /* margin-right: 45%; */
}

.pic-svg svg{
  width: 300px; 
}

.about{
  
  font-size: 15px;
  text-align: center; 
  
}

#about{
   margin-top: 50px;
}

.wrap{
  display: flex;
  justify-content: space-between;
 flex-direction: column;
 font-size: 20px;
 text-align: center;   
}

.project{
  font-size: 20px;
  text-align: center; 
}

.wrap-project{
  display: flex;
  flex-direction: column;
}

.wrap-blog{
  display: flex;
  flex-wrap: wrap;
}

.contact{
  flex-direction: column;
}

.contact-section h1{
 display: flex;

}

.pic-svg {
  
   align-items: center;

}

.bread{
   display: block;
}

.navbar-list{
      position: absolute;
      right: 0;
      height: 52vh;
      top: 3vh;
      background-color: #262525;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;

  }

  .nav-bar img{
      margin-right: -140%;
  }

  .left{
      /* display: flex;
      justify-content: center; */
      text-align: center;
  }

  .address{
      justify-content: center;
  }
}



.nav-active{
  transform: translateX(0%);
}